<app-gerente-toolbar></app-gerente-toolbar>

<p-card [header]="'Detalles de la Reserva: ' + reserva?.id">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <div *ngIf="reserva; else loading">
    <p><strong>Cliente:</strong> {{ reserva.clienteDTO.nombre }}</p>
    <p><strong>Email:</strong> {{ reserva.clienteDTO.email }}</p>
    <p><strong>Servicio:</strong> {{ reserva.servicioDTO.titulo }}</p>
    <p><strong>Inicio:</strong> {{ reserva.fechaInicio | date : 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Fin:</strong> {{ reserva.fechaFin | date : 'dd/MM/yyyy HH:mm' }}</p>
    <p>
      <strong>Estado:</strong>
      <p-tag [value]="reserva.estado" [severity]="getSeverity(reserva.estado)"></p-tag>
    </p>

    <button
      pButton
      label="Cancelar Reserva"
      class="p-button-danger mt-3"
      *ngIf="reserva?.estado !== 'CANCELADA'"
      (click)="confirmCancel()"
    ></button>
  </div>

  <ng-template #loading>
    <p>Cargando detalles de la reserva...</p>
  </ng-template>
</p-card>
