<p-card header="Calendario de Reservas de {{ negocio?.nombre }}" class="font-bold m-4">
  <!-- FILTROS ARRIBA -->
  <div
    class="servicios-container flex flex-column align-items-center justify-content-start mb-3"
    *ngIf="negocio?.listaServiciosDTO?.length"
  >
    <h3 class="text-lg text-center font-semibold mb-3">Filtrar por Servicio</h3>

    <div class="servicios-list flex flex-wrap gap-2 justify-content-center">
      <!-- Botón Mostrar todos -->
      <button
        pButton
        label="{{ idServicioSeleccionado === null ? 'Todos' : 'Mostrar todos' }}"
        icon="pi pi-list"
        class="p-button-secondary"
        [ngClass]="{
          'p-button-success': idServicioSeleccionado === null,
          'p-button-secondary': idServicioSeleccionado !== null
        }"
        (click)="cargarEventos(negocio?.id)"
      ></button>

      <!-- Botones dinámicos -->
      <button
        *ngFor="let s of negocio?.listaServiciosDTO"
        pButton
        icon="pi pi-eye"
        class="p-button-info"
        [ngClass]="{
          'p-button-success': idServicioSeleccionado === s.id,
          'p-button-info': idServicioSeleccionado !== s.id
        }"
        [label]="s.titulo"
        (click)="cargarEventosPorServicio(s.id!)"
      ></button>
    </div>
  </div>

  <!-- CALENDARIO -->
  <div class="calendar-wrapper">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</p-card>
