<p-card>
  <p-toast position="top-right"></p-toast>
</p-card>
<form (ngSubmit)="onSubmit()" #negocioForm="ngForm" class="p-fluid p-formgrid p-grid m-4">
  <!-- Nombre -->
  <div class="p-field p-col-12 mb-2">
    <label for="nombre" class="mr-2">Nombre del negocio</label>
    <input
      id="nombre"
      pInputText
      type="text"
      name="nombre"
      [(ngModel)]="negocio.nombre"
      required
      placeholder="Nombre del negocio"
    />
  </div>

  <!-- Correo electrónico -->
  <div class="p-field p-col-12 mb-2">
    <label for="correoElec" class="mr-2">Correo electrónico</label>
    <input
      id="correoElec"
      pInputText
      type="email"
      name="correoElec"
      [(ngModel)]="negocio.correoElec"
      required
      placeholder="Correo electrónico"
    />
  </div>

  <!-- Teléfono -->
  <div class="p-field p-col-12 mb-2">
    <label for="telfContacto" class="mr-2">Teléfono de contacto</label>
    <input
      id="telfContacto"
      pInputText
      type="text"
      name="telfContacto"
      [(ngModel)]="negocio.telfContacto"
      placeholder="Teléfono de contacto"
    />
  </div>

  <!-- Hora apertura -->
  <div class="p-field p-col-6 mb-2">
    <label for="hApertura" class="mr-2">Hora de apertura</label>
    <p-datepicker name="hApertura" inputId="calendar-timeonly" [(ngModel)]="hApertura" [timeOnly]="true" [showIcon]="true" stepMinute="5"/>
  </div>

  <!-- Hora cierre -->
  <div class="p-field p-col-6 mb-2">
    <label for="hCierre" class="mr-2">Hora de cierre</label>
        <p-datepicker name="hCierre" inputId="calendar-timeonly" [(ngModel)]="hCierre" [timeOnly]="true" [showIcon]="true" stepMinute="5"/>
  </div>

  <!-- Botón guardar -->
  <div class="p-field p-col-12">
    <button pButton type="submit" label="{{ modoEdicion ? 'Actualizar' : 'Crear' }}" class="p-button-success"></button>
  </div>
</form>
