<main>
  <app-gerente-toolbar></app-gerente-toolbar>

  <div class="dashboard-container flex flex-wrap gap-4 justify-center m-4">
    <!-- Acciones rápidas -->
    <p-card header="Acciones rápidas" class="dashboard-card flex-shrink-0">
      <div class="flex gap-2 flex-wrap">
        <button
          pButton
          label="Gestionar negocios"
          icon="pi pi-briefcase"
          (click)="verNegocios()"
          class="p-button-success btn-acc-rapidas"
        ></button>

        <button
          pButton
          label="Nuevo negocio"
          icon="pi pi-plus"
          class="p-button-success btn-acc-rapidas"
          (click)="goToNegocio()"
        ></button>
      </div>
    </p-card>

    <!-- Selección de negocio -->
    <p-card class="dashboard-card flex-shrink-0 flex flex-column"  *ngIf="negocios && negocios.length !== 0">
      <h3 class="mb-2">Selecciona un negocio</h3>

      <div class="flex flex-wrap gap-2 justify-center">
        <button
          *ngFor="let n of negocios"
          pButton
          class="negocio-btn p-2 max-w-fit"
          [ngClass]="{'p-button-info': idNegocioSeleccionado !== n.id, 'p-button-success': idNegocioSeleccionado === n.id}"
          [label]="n.nombre"
          (click)="seleccionarNegocio(n.id!)"
        ></button>
      </div>
    </p-card>
  </div>

  <!-- Aviso cuando no hay negocios -->
  <p-card *ngIf="negocios && negocios.length === 0" class="m-4 text-center">
    <h3 class="mb-2 font-bold"><i class="pi pi-exclamation-triangle"></i> Aún no tienes negocios</h3>
    <p>Aquí aparecerá tu calendario una vez crees tu primer negocio.</p>

    <button
      pButton
      icon="pi pi-plus"
      label="Crear un negocio ahora"
      class="p-button-success mt-3"
      (click)="goToNegocio()"
    ></button>
  </p-card>

  <app-reservas-calendar *ngIf="idNegocioSeleccionado" [idNegocio]="idNegocioSeleccionado">
  </app-reservas-calendar>
</main>
