/* Fondo de todo el carrusel */
.p-carousel {
  background-color: #efefee; /* Cambia a tu color */
  padding: 1rem;
  border-radius: 12px;
}

/* Punto INACTIVO */
.p-carousel-indicator button {
  background-color: #9ca3af !important; /* gris */
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
}

/* Punto ACTIVO */
.p-carousel-indicator.p-highlight button {
  background-color: #4A90E2 !important; /* tu color */
}