/* Fondo de todo el carrusel */
.p-carousel {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 12px;
}

/* Punto INACTIVO */
::ng-deep .p-carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}

::ng-deep .p-carousel .p-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .p-carousel .p-carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hacer que la tarjeta ocupe todo el espacio del item */
::ng-deep .p-carousel .p-carousel-item > * {
  flex: 1 1 auto;
  height: 100%;
}

.presentation-card {
  background-color: #ffffff;

}