<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>404 | EmbedBook</title>
    <base href="/PFG-DAW-ANGULARFRONT/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body>
    <div class="container">
      <h1>404</h1>
      <h2>Página no encontrada</h2>
      <p>Parece que te has perdido. La página que buscas no existe o está fuera de servicio, contacte con soporte.</p>
      <a href="/PFG-DAW-ANGULARFRONT/">Volver al inicio</a>
    </div>
  </body>
</html>
