<p-card header="Formulario de Usuario">
  <p-toast position="top-right"></p-toast>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <fieldset class="m-1 p-3 mb-1 pt-1">
      <legend>Datos del {{ rol.toLowerCase() }}</legend>
      <div class="p-fluid">
        <div class="field mb-3">
          <label for="nombre" class="montserrat-light">Nombre</label>
          <input
            pInputText
            id="nombre"
            type="text"
            formControlName="nombre"
            [ngClass]="{
              'ng-invalid': userForm.get('nombre')?.invalid && userForm.get('nombre')?.touched
            }"
          />

          <small class="p-error" *ngIf="getErrorMessage('nombre') as errorMessage">
            {{ errorMessage }}
          </small>
        </div>

        <div class="field mb-3">
          <label for="email">Email</label>
          <input
            pInputText
            id="email"
            type="email"
            formControlName="email"
            [ngClass]="{
              'ng-invalid': userForm.get('email')?.invalid && userForm.get('email')?.touched
            }"
          />

          <small class="p-error" *ngIf="getErrorMessage('email') as errorMessage">
            {{ errorMessage }}
          </small>
        </div>

        <div class="field" *ngIf="rol === 'GERENTE'">
          <label for="telf">Telefono</label>
          <input
            pInputText
            id="telf"
            type="tel"
            formControlName="telf"
            [ngClass]="{
              'ng-invalid': userForm.get('telf')?.invalid && userForm.get('telf')?.touched
            }"
          />
          <small class="p-error" *ngIf="getErrorMessage('telf') as errorMessage">
            {{ errorMessage }}
          </small>
        </div>

        <div class="field">
          <label for="pass">Contraseña</label>
          <input
            pInputText
            id="pass"
            type="password"
            formControlName="pass"
            [ngClass]="{
              'ng-invalid': userForm.get('pass')?.invalid && userForm.get('pass')?.touched
            }"
          />

          <small class="p-error" *ngIf="getErrorMessage('pass') as errorMessage">
            {{ errorMessage }}
          </small>
        </div>
      </div>
    </fieldset>

    <!-- Solo mostrar si es cliente (teléfono opcional) -->
    <div class="field" *ngIf="rol === 'CLIENTE'">
      <fieldset class="m-1 p-3 mb-3 pt-1">
        <legend>Datos del cliente opcionales</legend>

        <label for="telf">Telefono (Opcional)</label>
        <input
          pInputText
          id="telf"
          type="tel"
          formControlName="telf"
          [ngClass]="{
            'ng-invalid': userForm.get('telf')?.invalid && userForm.get('telf')?.touched
          }"
        />

        <small class="p-error" *ngIf="getErrorMessage('telf') as errorMessage">
          {{ errorMessage }}
        </small>
      </fieldset>
    </div>

    <div class="flex justify-content-center m-2">
      <p-button type="submit" [label]="textoBoton" [disabled]="userForm.invalid"></p-button>
    </div>
  </form>
</p-card>
